
body{
	font-size: 16px;
	color: #fff;
	background-color: #9F9898;
	font-family: 'Libre Franklin', sans-serif;
	box-sizing: border-box;
	transition:all 0.3s ease;


}

#logo {
  
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 0;
  background: url('https://github.com/OswaldRijo/coursera-test/tree/master/module3-solution/viajes/logo_portada.png');
}

#mainLogo{
	width: 70px;
	height:70px;
}

.navbar-default , .navbar{
    border-color: transparent;
    
}

#header-nav{
	background-color: #28A4E3;
	
}

.navbar-brand a, .navbar-brand span { /*Nombre del restaurant*/
	font-family: 'Source Sans Pro', sans-serif;
	color: #FAFBFB;
	text-decoration: none;

	
}

.navbar-default .navbar-nav>li>a{
	color: #FFF;
}


#myNavbar {
	
	width: 100%;
	margin-right: auto;
	margin: 5px 0 0 0;
}
#boton {
	background-color: transparent;
	border: 3px solid;

}


{
	background-color: white;
	
}

.nav-pills>li.active>a, .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #28A4E3;
    border: transparent;
}

#myNavbar a:hover, #myNavbar a:focus, #boton:focus, #boton:hover{
	background-color: #FAFBFB;
	color: #28A4E3;
	border-radius: 10px;
}

.navbar-toggle {
	background-color: #fff;

}

#titulo{
	align-content: center;
	color: #000;
	font-size: 1.5em;
	background-color: #fff;
	height: 50px;
	border-top: 5px ;
}

#titulo h2{
	
	font-weight: bold;
	vertical-align: middle;
}

.text{

	background-color: #FAFBFB;
	padding: 20px;
	margin: 10px 0px 10px 0px;
	border: 15px solid #9F9898;;
	

}
.lead,.h4{
	color: black;
	font-size: 0.75em


}
.h4{
	font-weight: bold;
	font-size: 0.9em;
}

.titleMenu{
	align-items: center;
	text-align: center;
}

/*#imagen:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}*/


#imagen{
	height: 200px;
	
	border-radius: 10%;
	-webkit-transition: border-radius 1s, -webkit-transform 1s; /* Safari */
    transition: border-radius 1s, transform 1s;

	/*animation-iteration-count: infinite;*/
}

#imagen:hover{
	border-radius: 5%;
	-webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1);

}

.jumbotron{
	height: 610px;
	padding: 0 0 0 0;
	background: #fff;
	box-shadow: 0 0 50px #28A4E3;

}

#lista{
	background: #9F9898;
	height: 50px;
}

#lista ul {
	float: right;
	
	list-style-image: url("https://github.com/OswaldRijo/coursera-test/tree/master/module3-solution/css/bullet_white.png");
	margin-left: 0;
   padding-left: 1em;
   
}


#lista li::before {
	content: "•";
	color: white;
}

#contenedor{
	height: 300px;
}


#conozca, #lugares {
  height: 250px;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  border-radius: 10px;
}
#conozca:hover, #lugares:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}

.imagen{
	width: 100%;
	height: 100%;
}

#lugares span, #conozca span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}


.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #28A4E3;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#preguntaFrec {
  line-height: 2;
}
#preguntaFrec> span, .row p{
  font-size: 0.8em;
}
#testimonios {
  font-style: italic;
}
#testimonios p:nth-child(2) {
  margin-top: 25px;
}


 /*@-webkit-keyframes cambio {
   0%   {transform: scale(1.0);}
   20%  {transform: scale(1.02);}
   40%  {transform: scale(1.04);}
   60%  {transform: scale(1.06);}
   80%  {transform: scale(1.08);}
   100% {transform: scale(1.1);}
}*/

/* Standard syntax 
@keyframes cambio {
    from {background-color: red;left:center }
    to {background-color: yellow;left: 0px}*/




@media(max-width: 768px){
	#myNavbar{
		width: 100%
	}
@media (min-width: 768px){
	.text{
		
	}

	#sushi{
		margin-right: 15px;
	}
}